.nft-auction-area {
    &.auction-page {
        .nft-auction-item {
            overflow: hidden;
            transition: $transition; 
            margin-bottom: 30px;
            .img-wrapper {
                overflow: hidden;
                img {
                    transition: $transition;
                }
            }
            .auction-content {
                border: 1px solid #CECECE;
                border-top: 0;
                padding: 25px 20px 20px 20px;
                transition: $transition;
                border-radius: 0 0 6px 6px;
                .auction-title {
                    display: flex; 
                    align-items: center;
                    justify-content: space-between;
                    h4 {
                        transition: $transition; 
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    .auction-category {
                        color: $heading-color;
                        font-weight: 600;
                    }
                }
                .user-artist {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .auction-user {
                        display: flex; 
                        align-items: center;
                        .user-thumb {
                            img {
                                border-radius: 50%;
                            }
                        }
                        .user-tagline {
                            margin-left: 10px;
                            font-weight: 500;
                            color: $heading-color;
                        }
                    }
                    .auction-clock {
                        ul {
                            background-color: $primary-color; 
                            display: inline-block;
                            border-radius: 4px; 
                            padding: 8px 12px;
                            color: #fff;
                            li {
                                display: inline-block;
                                &.timer-clock {
                                    position: relative; 
                                    margin-right: 8px;
                                    transform: translateY(-2px);
                                    &::after {
                                        content: ''; 
                                        position: absolute; 
                                        width: 1px; 
                                        height: 15px; 
                                        background-color: #fff;
                                        right: -8px;
                                        top: calc(50% + 2px); 
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                }
                .auction-meta {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    .bid-amount {
                        span {
                            display: block;
                            &.currency-amount {
                                font-weight: 600;
                                color: $heading-color;
                            }
                        }
                    }
                    .auction-like {
                        align-self: flex-end;
                        a {
                            display: inline-block;
                            cursor: pointer;
                            color: $paragraph-color;
                            i {
                                margin-right: 4px;
                                color: transparent;
                                -webkit-text-stroke-width: 1px;
                                -webkit-text-stroke-color: $paragraph-color;
                            }
                            &:hover {
                                i {
                                    color: $primary-color;
                                    -webkit-text-stroke-color: $primary-color;
                                }
                            }
                            &:focus {
                                i {
                                    color: $primary-color;
                                    -webkit-text-stroke-color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                box-shadow: 0 10px 30px rgba(0,0,0,0.1);
                .img-wrapper {
                    img {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
                .auction-content {
                    border-color: transparent;
                }
            }
        }
        .nft-btn-style-3 {
            margin-top: 40px;
        }
        @include medium-screen {
            .container {
                max-width: 800px;
            }
        }
        @include small-screen {
            .container {
                max-width: 600px;
            }
        }
    }
}


/************ Auction Details *************/ 
.nft-auction-details {
    .auction-details-right {
        padding-left: 10px;
        .nft-title-style-1 {
            .title-heading {
                h3 {
                    color: $heading-color;
                    &::after {
                        display: none;
                    }
                }
            }
            .title-desc {
                display: block;
                margin-left: 0;
                max-width: 100%; 
                margin-top: 50px;
                p {
                    color: $paragraph-color;
                }
            }
        }
        .user-artist {
            margin-top: 30px;
            display: flex;
            align-items: center;
            .auction-clock {
                ul {
                    background-color: $primary-color; 
                    display: inline-block;
                    border-radius: 4px; 
                    padding: 8px 12px;
                    color: #fff;
                    li {
                        display: inline-block;
                        &.timer-clock {
                            position: relative; 
                            margin-right: 8px;
                            transform: translateY(-2px);
                            &::after {
                                content: ''; 
                                position: absolute; 
                                width: 1px; 
                                height: 15px; 
                                background-color: #fff;
                                right: -8px;
                                top: calc(50% + 2px); 
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            .auction-user {
                margin-left: 30px;
                display: flex; 
                align-items: center;
                .user-thumb {
                    img {
                        border-radius: 50%;
                    }
                }
                .user-tagline {
                    margin-left: 10px;
                    font-weight: 500;
                    color: $heading-color;
                }
            }
        }
        .auction-details-meta {
            margin-top: 30px;
            table {
                tr {
                   td {
                        padding: 0 0 18px;
                        font-size: 18px;
                        strong {
                            font-weight: 600;
                            color: $heading-color;
                        }
                        span {
                            margin-left: 30px;
                            position: relative; 
                            display: inline-block;
                            &::before {
                                content: ':'; 
                                position: absolute;
                                top: 50%; 
                                left: -25px;
                                transform: translateY(-50%);
                                font-weight: 500;
                            }
                        }
                   }
                }
            }
        }
        .auction-details-btn {
            margin-top: 10px;
        }
    }
    @include medium-screen {
        .container {
            max-width: 800px;
        }
        .auction-details-right {
            margin-top: 60px;
        }
    }
    @include small-screen {
        .container {
            max-width: 600px;
        }
    }
    @include portrait-phone {
        .container {
            max-width: 480px;
        }
    }
}